{% extends "auctions/layout.html" %}

{% block body %}
<h1>Active Listings</h1>
<a class="nav-link" href="{% url 'view_listing' %}">Test view listing</a>
<ul>
    {% for listing in listings %}
        <h3>{{listing.title}}</h3> 
        <p>{{ listing.description}}</p> 
        <p>Current bid: {{ listing.get_price }}</p> 
        {% if listing.photo %}
            <p><img src="{{listing.photo}}" width="300px"></p>
        {% else %}
            <p><img src="http://www.actbus.net/fleetwiki/images/8/84/Noimage.jpg" width="300px"></p>
        {% endif  %}
    {% endfor %}
</ul>
   
{% endblock %}

