{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{  listing.title }} </h1>
<p>category: {{  listing.category }}</p>
<p>Description: {{  listing.description }}</p>
<p>Current bid <b>{{  listing.get_price }} from {{listing.high_bidder}}</b> </p>
<p>Starting bid: {{  listing.start_bid }}</p>
<p>Created at: {{  listing.time_create}} GMT</p>
<p>Number of bids: {{listing.num_bids}} </p>

{% if listing.photo %}
<p><img src="{{listing.photo}}" width="600px"></p>
{% else %}
<p><img src="http://www.actbus.net/fleetwiki/images/8/84/Noimage.jpg" width="200px"></p>
{% endif  %}

<!-- COMMENTS------- -->
<h3>Recent Comments</h3>
    
    <form action="{% url 'view_listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ listing.title }}" name="listing_title">
        <p>{{ comment_form.comment }}  <input type="submit" name="submit_new_comment" value="Submit"> </p>
    </form>
    
    {% for comment in comments %}
        <p>{{ comment.time_create}} | {{ comment.creator}} | {{ comment.comment}}</p>
    {% endfor %}
   
{% endblock %}
